name: Release

on:
  push:
    branches:
      - main

permissions: {}

defaults:
  run:
    shell: bash

jobs:
  lint:
    permissions:
      # we must pass all the required permissions of the callee workflow
      contents: read
      actions: read
    uses: ./.github/workflows/lint.yml

  test:
    permissions:
      # we must pass all the required permissions of the callee workflow
      contents: read
      actions: read
    uses: ./.github/workflows/test.yml

  release:
    needs:
      - lint
      - test

    runs-on: ubuntu-24.04
    timeout-minutes: 10
    permissions:
      contents: write # for GitHub Release
      issues: write # for commenting on issues
      pull-requests: write # for commenting on pull requests
      id-token: write # for npm provenance

    steps:
      - name: Checkout
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
        with:
          fetch-depth: 0 # fetch all history for semantic-release
          persist-credentials: false

      - name: Install mise
        uses: jdx/mise-action@146a28175021df8ca24f8ee1828cc2a60f980bd5 # v3.5.1
        with:
          version: 2025.11.9
        env:
          GITHUB_TOKEN: ${{ github.token }}

      - name: Release
        run: semantic-release
        env:
          GITHUB_TOKEN: ${{ github.token }}
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}

  actions-timeline:
    needs:
      - release
    if: ${{ !cancelled() }}

    runs-on: ubuntu-24.04
    timeout-minutes: 5
    permissions:
      actions: read

    steps:
      - name: actions-timeline
        # cspell:ignore kesin
        uses: Kesin11/actions-timeline@54d513e0b5ff1158f1cf8321108d666a5a6c1fca # v2.2.5
