name: Release

on:
  push:
    branches:
      - main

permissions: {}

defaults:
  run:
    shell: bash

jobs:
  lint:
    permissions:
      # we must pass all the required permissions of the callee workflow
      contents: read
      actions: read
    uses: ./.github/workflows/lint.yml

  test:
    permissions:
      # we must pass all the required permissions of the callee workflow
      contents: read
      actions: read
    uses: ./.github/workflows/test.yml

  release:
    needs:
      - lint
      - test

    runs-on: ubuntu-24.04
    timeout-minutes: 10
    permissions:
      contents: write # for GitHub Release
      issues: write # for commenting on issues
      pull-requests: write # for commenting on pull requests
      id-token: write # for npm provenance

    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          fetch-depth: 0 # fetch all history for semantic-release
          persist-credentials: false

      - name: Install mise
        uses: jdx/mise-action@6d1e696aa24c1aa1bcc1adea0212707c71ab78a8 # v3.6.1
        with:
          version: 2026.1.12
        env:
          GITHUB_TOKEN: ${{ github.token }}

      - name: Release
        run: semantic-release
        env:
          GITHUB_TOKEN: ${{ github.token }}
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}

  actions-timeline:
    needs:
      - release
    if: ${{ !cancelled() }}

    runs-on: ubuntu-24.04
    timeout-minutes: 5
    permissions:
      actions: read

    steps:
      - name: actions-timeline
        # cspell:ignore kesin
        uses: Kesin11/actions-timeline@7c7e0821d38f27460f4a71ef874a1c8cf23602e4 # v2.2.6
